// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
@import partials/animate
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding
@import compass/css3


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form
  // You'll probably want to remove the scaffolding once you start styling your site.
  +blueprint-scaffolding

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  #container
    +container
  #header, #footer
    +column($blueprint-grid-columns)
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3)
    +column($sidebar-columns)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3)
    // true means it's the last column in the row
    +column($content-columns, true)

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"

body
  background: #051720
a
  text-decoration: none
  border-bottom: 1px dotted #E27A40
  color: #E71919
  display: inline-block
  padding: 3px 0
  &:hover
    border-bottom: 1px dotted #3DB9FF
    color: #F55
.container, #main
  +container
#main
  margin: 30px auto
header
  background: rgba(255, 255, 255, 0.52)
  +box-shadow(3px 1px 40px black)
  margin: 0 0 30px
  position: relative
  z-index: 2000
  padding: 17px 0 12px
  +opacity(.8)
  +transition-property(opacity)
  +transition-duration(.3s)
  &:hover
    +opacity(1)
  #profile
    height: 131px
    float: left
    +border-radius(50%)
    margin-right: 20px
  .nav
    font-family: "Oxygen", Arial
    li
      float: left
      a
        +box-shadow(3px 3px 0px rgba(119, 4, 4, 0.18))
        +border-radius(5px)
        display: inline-block
        background: #1F5B7C
        +background-image(linear-gradient(#E71919 78%, #AA2323))
        color: white
        padding: 7px 20px
        border: 1px solid #7C0505
        font-weight: bold
        font-size: 12px
        margin: 15px 20px 0 0
        &:hover
          background: #F55
b
  font-weight: bold
p
  margin: 15px 0
  line-height: 24px
  a
    line-height: 11px
body
  font-family: "Oxygen", "Helvetica", sans-serif
  font-size: 14px
  font-height: 16px
h1
  font-family: "Syncopate"
  font-weight: bold
  +text-shadow(1px 1px 0 rgba(255, 255, 255, 0.53))
h2
  +text-shadow(0px -1px 0px #484D68)
  font-family: "Gochi Hand", "Helvetica"
  color: white
  font-weight: bold
h3
  font-family: "Gochi Hand", "Helvetica"
  font-size: 42px
  line-height: 28px
  +text-shadow(1px -1px 0px #484D68)
  letter-spacing: 0.06em
  border-bottom: 1px dotted white
  +box-shadow(0 1px #BDC1C5)
  padding: 6px 0
  font-weight: bold
  color: #1881AC
  clear: left
h4, h5
  font-family: "Signika", "Arial", serif
h1
  font-size: 50px
h2
  font-size: 31px
h4
  font-size: 13px
h5
  font-size: 17px
h6
  font-size: 28px
  line-height: 39px
  font-weight: bold
#videos
  overflow: hidden
  li
    float: left
    margin: 10px 0
    &:nth-child(1n)
      margin-right: 20px
#experience
  ul
    li
      +box-shadow(0px -1px 5px rgba(0, 0, 0, 0.22) inset)
      +border-right-radius(30px)
      margin: 10px 0px
      padding: 30px 20px
      border-bottom: 1px solid #C4C4C4
      border-left: 7px solid #CECECE
      background: rgba(248, 248, 248, 0.75)
      &:hover 
        img
          +opacity(1)
      img
        margin-top: -10px
        float: right
        height: 105px
        +border-radius(10px)
        +opacity(.6)
        +transition-property()
        +transition-duration(.5s)
  h4, h5
    display: inline-block
  h4
    margin-right: 10px
    color: gray
  h5
    +border-radius(30px)
    +box-shadow(0px 1px 1px rgba(0, 0, 0, 0.39))
    border: 1px solid #C4C4C4
    text-align: center
    color: #3D3D3D
    background: #FFFFDE
    font-size: 12px
    font-style: italic
    padding: 2px 9px
  p
    a
      margin-right: 10px
#biography
  h3  
    margin-top: -17px
.section
  background: rgba(255, 255, 255, 0.89)
  margin: 0 0 50px
  padding: 0 30px
  border: 5px solid white
  +border-radius(15px)
.sect
  //+box-shadow(0px 16px 16px -9px rgba(4, 52, 90, 0.26))
  //border-top: 2px solid #C5E1FF
  //border-bottom: 1px solid #D2D5D6
  padding: 40px 0
#big-video-wrap
  z-index: 300
#main
  position: relative
  z-index: 1000
#contact
  overflow: hidden
  ol
    margin-left: 181px
  li  
    float: left
    margin-right: 30px
    img
      height: 100px
    span
      display: block
      text-align: center
      font-weight: bold
    a
      text-decoration: none
      border: none
      color: black
      text-transform: uppercase
      &:hover
        span  
          color: #E71919
          